<% provide(:title, '新元号候補生成') %>
<div class="center jumbotron">
  <h3>新元号候補</h3>
  <h1><%= @post_gengou %></h1>
  <table>
    <tr>
      <td><%= link_to "#{@gengou0}", "https://ja.wiktionary.org/wiki/#{@gengou0}", target: "_blank" %>：</td>
      <td>登場回数 &nbsp; <%= @gengou0_count %> &nbsp; </td>
      <td>回</td>
    </tr>
    <tr>
      <td><%= link_to "#{@gengou1}", "https://ja.wiktionary.org/wiki/#{@gengou1}", target: "_blank" %>：</td>
      <td>登場回数 &nbsp; <%= @gengou1_count %> &nbsp; </td>
      <td>回</td>
    </tr>
  </table>
  
  <% if logged_in? %>
    <p><%= button_to "応募", posts_path, params: {:post => {:content => @post_gengou}}, :method => :post, class: "btn btn-lg btn-primary"%></p>
  <% else %>
    <p><%= button_to "応募(Twitter認証が必要)", '/auth/twitter', :method => :get, class: "btn btn-lg btn-primary"%></p>
  <% end %>
  <p><%= button_to "再籤", generate_path, :method => :get, class: "btn btn-lg btn-primary"%></p>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice]%>
    </div>
  <% end %>
</div>